#title {
  width: 100%;
  height: 3rem;
  font-size: 1.5rem;
  border: none;
  outline: none;
  font-weight: 900;
}

@media (min-width: 576px) {
  #title {
    width: 30rem;
  }
}

@media (min-width: 768px) {
  #title {
    width: 42rem;
  }
}

@media (min-width: 992px) {
  #title {
    width: 38rem;
  }
}

@media (min-width: 1200px) {
  #title {
    width: 48rem;
  }
}
