#titleLabel {
  display: none;
}

#title {
  width: 100%;
  height: 3rem;
  font-size: 1.5rem;
  border: none;
  outline: none;
  font-weight: 900;
}

@media (min-width: 576px) {
  #title {
    width: 30rem;
  }
}

@media (min-width: 768px) {
  #title {
    width: 42rem;
  }
}

@media (min-width: 992px) {
  #titleInputAndLabelBg {
    position: relative;
  }

  #titleLabel {
    font-size: 1.5rem;
    color: grey;
    position: absolute;
    left: -3.5rem;
    bottom: 0.7rem;
  }

  #title {
    width: 38rem;
    padding-left: 0.5rem;
    margin-left: 0.3rem;
    border-left: none;
  }
}

@media (min-width: 1200px) {
  #title {
    width: 48rem;
  }
}
