@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
  background-color: #fffafa;
  color: #353839;
}

body {
  cursor: default;
}
