#yourName {
  width: 100%;
  height: 3rem;
  font-size: 1rem;
  border: none;
  outline: none;
}

@media (min-width: 576px) {
  #yourName {
    width: 30rem;
  }
}

@media (min-width: 768px) {
  #yourName {
    width: 42rem;
  }
}

@media (min-width: 992px) {
  #yourName {
    width: 38rem;
    border: solid 0.1rem black;
  }
}

@media (min-width: 1200px) {
  #yourName {
    width: 51rem;
  }
}
